@import '~node_modules/modern-normalize/modern-normalize.css';
@import '~node_modules/swiper/swiper-bundle.min.css';

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ede9e3;
  font-family: 'Poppins', sans-serif;
}
