<header class="header">
  <div class="container header__container">
    <a class="logo">WebStudio</a>
      <nav>
        <ul class="header__nav">
            <li><a href="index.html" >Студія</a></li>
            <li><a href="portfolio.html">Портфоліо</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>
        </nav>
    <ul class="header__contacts">
        <li><a href="mailto:info@devstudio.com" >
            <svg  width="16" height="12"><use href="./img/icons.svg#icon-envelopemail"></use></svg>info@devstudio.com</a></li>
        <li><a href="tel:+380961111111" class="m__t__style__up">
            <svg  width="10" height="16"><use href="./img/icons.svg#icon-smartphone"></use></svg>+38 096 111 11 11</a> </li>
    </ul>
    
     <button
        type="button"
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu">
        <svg width="24" height="24">
          <use
            href="./img/svg-sprite/iconss.svg#mobilemenu-btn"></use>
        </svg>
      </button> 
    
  </div>
</header>
