<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav__logo" href="#"
        ><svg class="nav__icon" width="36" height="28">
          <use href="./img/svg-sprite/icons.svg#nice-view"></use></svg></a>
      <button
        type="button"
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-toggle__icon" width="24" height="24">
          <use
            class="icon-cross"
            href="./img/svg-sprite/icons.svg#mobilemenu-btn"
          ></use>
        </svg>
      </button>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#home">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#apartments">Apartments</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#infrastructure">Infrastructure</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#gallery">Gallery</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <button type="button" class="button-contactus btn-header" data-modal-open>
        Contact us
      </button>
    </nav>
  </div>
</header>
