

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-toggle__icon" width="20" height="20">
      <use href="./img/svg-sprite/icons.svg#vector-cross"></use>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#home">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#about">About</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#apartments">Apartments</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#infrastructure">Infrastructure</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#gallery">Gallery</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#contacts">Contacts</a>
    </li>
  </ul>
</div>

