

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-toggle__icon" width="20" height="20">
      <use href="./img/svg-sprite/iconss.svg#vector-cross"></use>
    </svg>
  </button>
  <ul class="mobile__menu">
    <li><a href="index.html" >Студія</a></li>
    <li><a href="portfolio.html" >Портфоліо</a></li>
    <li><a href="#" >Контакти</a></li>
</ul>
<ul class="mobile-contacts">
  <li><a  href="tel:+380961111111" >+38 096 111 11 11</a> </li>
  <li><a  href="mailto:info@devstudio.com" >info@devstudio.com</a></li>
</ul>
<ul class="mobile-m">
  <li><a href="#">Instagram</a></li>
  <li class="i">|</li>
  <li><a href="#">Twitter</a></li>
  <li class="i">|</li>
  <li><a href="#">Facebook</a></li>
  <li class="i">|</li>
  <li><a href="#">LinkedIn</a></li>
</ul>
</div>



 
