.header {
  display: flex;
  align-items: center;
  height: 80px;
  background-image: linear-gradient(278deg, #fa92fc -29.32%, #7dedf7 119.87%);
  @media screen and (min-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    
  }
  @media screen and (min-width: 1199.5px) {
    
    background-image: linear-gradient(
      269.46deg,
      #8dfa6c 20.66%,
      #75f5f1 85.22%
    );
  }
  opacity: 1;
  transition: opacity 2s;
}
/////////////////////
/// 
.header__nav a,
.header__contacts li{
  @media screen and (max-width: 767.5px){
   display: none;
  }
}
.logo{
  font-size: 30px;
  color: #181817;
  margin-right: 80px;
}
.header__container,
.header__container nav,
.header__container ul{
  display: flex;
}
.header__container{
  align-items: center;
}

.header__nav li:not(:last-child){
  margin-right: 25px;
}
.header__contacts{
  margin-left: auto;
  @media screen and (min-width: 767.5px) and (max-width: 1199.5px){
    flex-direction: column;
    margin-left: auto;
  }
}
header svg{
  margin-right: 10px;
}
.header__contacts li:not(:last-child){
  @media screen and (min-width: 767.5px) and (max-width: 1199.5px){
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1199.5px){
    margin-right: 15px;
  }
}
.header__contacts a{
  display: flex;
  align-items: center;
  justify-content: center;
}